.body{
    font-family: 'Merriweather Sans', sans-serif;
    /* font-family: Montserrat; */
    margin: 0 5%;
    padding: 2% 6%;
    /* border: 5px solid black; */
    padding: 30px;
    /* background-color: black; */
}
.btn-danger{
    background-color: #eb1029;
}
.card{
    padding: 2px;
    border: 1px solid rgb(64,64,64);
}
.col{
    margin-bottom: 5px;
}

.header{
    background-color: #eb1029;
}
/* input:not([type=submit]):not([type=date]):not([type=time]){
  width: 50%;
} */
input{
    margin-bottom: 8px;
}
select{
    margin-bottom: 10px;
}
label{
    padding-right: 5%;
    /* margin-bottom: 2px; */
}
.logo{
    padding: 1%;
    display: inline-block;
    /* float: left; */
}
.title{
    
   display:  inline-block;
   /* float: right; */
}
td{
    width: 60%;
    padding: 6px;
    margin-bottom: 3px;
}
td > input[type='text']
{
    width: 99%; /*this will set the width of the textbox equal to its container td*/
}